<!DOCTYPE html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>
        Admin Dashboard
    </title>

    <link rel="stylesheet"
          th:href="@{/css/admin.css}">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>

<body class="admin-body">

<!-- SIDEBAR -->
<div th:replace="fragments/admin-sidebar :: adminSidebar('dashboard')">
</div>

<!-- MAIN -->
<main class="main-content">

    <!-- TOPBAR -->
    <div th:replace="
        fragments/admin-topbar ::
        adminTopbar(
            'Dashboard',
            'Ringkasan aktivitas admin'
        )">
    </div>

    <!-- STATS -->
    <section class="admin-stats">

        <div class="admin-card">

            <h3>Total Users</h3>

            <p>1,245</p>

        </div>

        <div class="admin-card">

            <h3>Total Transport</h3>

            <p>84</p>

        </div>

        <div class="admin-card">

            <h3>Active Trips</h3>

            <p>329</p>

        </div>

    </section>

</main>

</body>
</html>