<!DOCTYPE html>
<html lang="id"
      xmlns:th="http://www.thymeleaf.org">

<body>

<header class="topbar"
        th:fragment="adminTopbar(title, subtitle)">

    <div>

        <h2 th:text="${title}">
            Dashboard
        </h2>

        <p th:text="${subtitle}">
            Subtitle
        </p>

    </div>

    <div class="topbar-user-actions">
        <div class="topbar-user-info">
            <strong th:text="${session.loggedInUserName != null ? session.loggedInUserName : 'Admin'}">Admin</strong>
            <span th:text="${session.userRole != null ? session.userRole : 'ADMIN'}">ADMIN</span>
        </div>
    </div>

</header>

</body>
</html>