<nav class="navbar" th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">

    <div class="container">

        <!-- LEFT -->
        <div class="logo">
            <span class="logo-icon">◉</span>
            TRIPINAJA
        </div>


        <!-- RIGHT -->
        <div class="nav-right" th:if="${session.userRole == null}">

            <a href="/login" class="login-link">
                Login
            </a>

            <a href="/register" class="register-btn">
                Register
            </a>

        </div>

        <div class="nav-right" th:if="${session.userRole != null}">

            <a th:if="${session.userRole == 'ADMIN'}" th:href="@{/admin/dashboard}" class="login-link">
                <span th:text="${session.loggedInUserName != null ? session.loggedInUserName : 'User'}">User</span>
            </a>

            <a th:if="${session.userRole != 'ADMIN'}" th:href="@{/dashboard}" class="login-link">
                <span th:text="${session.loggedInUserName != null ? session.loggedInUserName : 'User'}">User</span>
            </a>

            <a th:href="@{/auth/logout}" class="register-btn">
                Logout
            </a>

        </div>

    </div>

</nav>