@media(max-width:1024px){

    .hero h1{
        font-size:56px;
    }

    .featured-grid{
        grid-template-columns:1fr;
    }

    .big-card{
        height:500px;
    }

    .small-cards{
        grid-template-columns:1fr 1fr;
        grid-template-rows:none;
    }

    .small-card{
        height:250px;
    }

    .footer-container{
        flex-direction:column;
    }

}

@media(max-width:768px){

    .navbar{
        height:auto;
        padding:20px 0;
    }

    .navbar .container{
        flex-direction:column;
        gap:18px;
    }

    .nav-center{
        gap:24px;
    }

    .nav-right{
        width:100%;
        justify-content:center;
    }

}

@media(max-width:480px){

    .hero h1{
        font-size:34px;
    }

    .planner-card{
        padding:22px;
        border-radius:18px;
    }


    .nav-center{
        gap:20px;
    }

    .nav-right{
        width:100%;
        justify-content:center;
    }

    .register-btn{
        padding:10px 18px;
    }

    .overlay{
        padding:20px;
    }

    .overlay h3{
        font-size:24px;
    }

    .big-card{
        height:400px;
    }

}

@media(max-width:1100px){

    .stats-section{
        grid-template-columns:1fr 1fr;
    }

    .itineraries-grid{
        grid-template-columns:1fr;
    }

    .destinations-grid{
        grid-template-columns:repeat(2,1fr);
    }

}

@media(max-width:768px){

    .welcome-section{
        flex-direction:column;
        align-items:start;
        gap:30px;
    }

    .welcome-content h1{
        font-size:40px;
    }

    .quick-actions{
        width:100%;
        flex-direction:column;
    }

    .stats-section{
        grid-template-columns:1fr;
    }

    .destinations-grid{
        grid-template-columns:1fr;
    }

    .section-header{
        flex-direction:column;
        align-items:start;
        gap:16px;
    }

    .cta-content h2{
        font-size:36px;
    }

}

@media(max-width:768px){

    .footer-container{
        flex-direction:column;
        gap:50px;
    }

    .footer-links{
        flex-wrap:wrap;
        gap:50px;
    }

}